body,
html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

#div_back_2 {
  width: 100%;
  height: auto;
  background: #0E1317;
}

#div_img_2 {
  margin-top: -2rem;
  margin-left: 3rem;
  filter: drop-shadow(4px 4px 54px rgba(0, 0, 0, 0.25));
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10px;
}

#div_txt_2 {
  width: 700px;
  height: 400px;
  margin: 30px 0 0 40px;
}

#div2_para_1 {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 44px;
  text-transform: capitalize;
  margin-top: 10px;
  margin-left: 0px;
  color: #FFFFFF;
}

#div2_para_2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 148.4%;
  margin-left: 0px;
  text-align: justify;
  text-transform: capitalize;
  color: #BBBBBB;
}

#main_div_3 {
  background-image: url("./about_image/Group\ 448.png");
  width: 100%;
  height: auto;
  background-size: cover;
  padding: 4rem;
  background-color: #1d232a;
  background-repeat: auto;
}

#sub_div_3 {
  margin-top: 30px;
  width: 100%;
  height: 437px;
  background-color: #0E1317;
}

#sub_div3 {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  background-color: black;
  padding: 50px;
  font-family: 'Work Sans';
}

#sub_div3 .card img {
  height: 33%;
  width: 25%;
  margin: auto;
}

#sub_div3 .card .card-body {
  height: 100px;
}

#back_4 {
  background-image: url(./about_image/back4.png);
  width: 100%;
  height: auto;
  background-color: rgb(18, 22, 25);
}

@media only screen and (max-width:500) and (min-width: 375px) {
  #div2_para_1 {
    padding-left: 0px;
    position: relative;
    margin-left: -10rem;
    margin-left: 0px;
  }

  #div2_para_2 {
    margin-left: 0px;
    padding-left: 0px;
    position: relative;
    margin-left: -10rem;
  }
}

@media screen and (max-width: 600px) {
  #div_txt_2 {
    width: 300px;
    height: auto;
    position: static;
    left: 0px;
    margin-left: 0rem;
  }
}

@media(max-width:490px) {
  #div_txt_2 {
    width: 300px;
    height: auto;
  }

  #div2_para_1 {
    text-align: left;
  }

  #div2_para_2 {
    text-align: left;

  }
}

@media(max-width:500px) {
  #div_img_2 {
    width: 200px;
    height: 200px;
  }

  #div_txt_2 {
    width: 380px;
    height: auto;
  }

  #div2_para_1 {
    margin-left: 50px;
  }

  #div2_para_2 {
    margin-left: 50px;
  }
}

@media(max-width:570px) {
  #div_img_2 {
    width: 400px;
    height: 400px;
    margin-left: 100px;
  }
}

@media(max-width:670px) {
  #div_img_2 {
    width: 450px;
    height: 450px;
    margin-left: 100px;
  }

  #div_txt_2 {
    width: 400px;
    margin-left: 30px;
    height: auto;
  }
}

.grid-team {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  column-gap: 40px;
}

.grid-team .card {
  border-radius: 20px;
  width: 100%;
  background: none;
  box-shadow: 0px 0px 7px 0px black;
}

.grid-team .card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media(max-width:705px) {
  #div2_4 {
    margin-left: 0px;
  }
}

@media(max-width:600px) {
  .last_p {

    height: 800px;
  }
}

@media(max-width:770px) {
  #div_img_2 {
    width: 450px;
    height: 450px;
    margin-left: 100px;
  }
}

@media(max-width:830px) {
  #div_img_2 {
    width: 450px;
    height: 450px;
    margin-left: 100px;
  }
}

@media(max-width:1300px) {
  #div_img_2 {
    width: 450px;
    height: 450px;
    margin-left: 100px;
  }
}

.mb-6 {
  margin-bottom: 4.5rem !important;
}

.mb-7 {
  margin-bottom: 6rem !important;
}

.mb-8 {
  margin-bottom: 7.5rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}

.mb-10 {
  margin-bottom: 10.5rem !important;
}

.py-6 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}

.py-7 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}

.py-8 {
  padding-top: 7.5rem !important;
  padding-bottom: 7.5rem !important;
}

.py-9 {
  padding-top: 9rem !important;
  padding-bottom: 9rem !important;
}

.py-10 {
  padding-top: 10.5rem !important;
  padding-bottom: 10.5rem !important;
}

.hcf-bp-center {
  background-position: center !important;
}

.hcf-bs-cover {
  background-size: cover !important;
}

@media (min-width: 576px) {
  .mb-sm-6 {
    margin-bottom: 4.5rem !important;
  }

  .mb-sm-7 {
    margin-bottom: 6rem !important;
  }

  .mb-sm-8 {
    margin-bottom: 7.5rem !important;
  }

  .mb-sm-9 {
    margin-bottom: 9rem !important;
  }

  .mb-sm-10 {
    margin-bottom: 10.5rem !important;
  }

  .py-sm-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }

  .py-sm-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

  .py-sm-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }

  .py-sm-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }

  .py-sm-10 {
    padding-top: 10.5rem !important;
    padding-bottom: 10.5rem !important;
  }
}

@media (min-width: 768px) {
  .mb-md-6 {
    margin-bottom: 4.5rem !important;
  }

  .mb-md-7 {
    margin-bottom: 6rem !important;
  }

  .mb-md-8 {
    margin-bottom: 7.5rem !important;
  }

  .mb-md-9 {
    margin-bottom: 9rem !important;
  }

  .mb-md-10 {
    margin-bottom: 10.5rem !important;
  }

  .py-md-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }

  .py-md-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

  .py-md-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }

  .py-md-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }

  .py-md-10 {
    padding-top: 10.5rem !important;
    padding-bottom: 10.5rem !important;
  }
}

@media (min-width: 992px) {
  .mb-lg-6 {
    margin-bottom: 4.5rem !important;
  }

  .mb-lg-7 {
    margin-bottom: 6rem !important;
  }

  .mb-lg-8 {
    margin-bottom: 7.5rem !important;
  }

  .mb-lg-9 {
    margin-bottom: 9rem !important;
  }

  .mb-lg-10 {
    margin-bottom: 10.5rem !important;
  }

  .py-lg-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }

  .py-lg-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

  .py-lg-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }

  .py-lg-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }

  .py-lg-10 {
    padding-top: 10.5rem !important;
    padding-bottom: 10.5rem !important;
  }
}

@media (min-width: 1200px) {
  .mb-xl-6 {
    margin-bottom: 4.5rem !important;
  }

  .mb-xl-7 {
    margin-bottom: 6rem !important;
  }

  .mb-xl-8 {
    margin-bottom: 7.5rem !important;
  }

  .mb-xl-9 {
    margin-bottom: 9rem !important;
  }

  .mb-xl-10 {
    margin-bottom: 10.5rem !important;
  }

  .py-xl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }

  .py-xl-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

  .py-xl-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }

  .py-xl-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }

  .py-xl-10 {
    padding-top: 10.5rem !important;
    padding-bottom: 10.5rem !important;
  }
}

@media (min-width: 1400px) {
  .mb-xxl-6 {
    margin-bottom: 4.5rem !important;
  }

  .mb-xxl-7 {
    margin-bottom: 6rem !important;
  }

  .mb-xxl-8 {
    margin-bottom: 7.5rem !important;
  }

  .mb-xxl-9 {
    margin-bottom: 9rem !important;
  }

  .mb-xxl-10 {
    margin-bottom: 10.5rem !important;
  }

  .py-xxl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }

  .py-xxl-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
  }

  .py-xxl-8 {
    padding-top: 7.5rem !important;
    padding-bottom: 7.5rem !important;
  }

  .py-xxl-9 {
    padding-top: 9rem !important;
    padding-bottom: 9rem !important;
  }

}

.hcf-overlay {
  --hcf-overlay-opacity: 0.5;
  --hcf-overlay-bg-color: var(--bs-black-rgb);
  position: relative;
}

.hcf-overlay::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(var(--hcf-overlay-bg-color),
      var(--hcf-overlay-opacity));
  z-index: 0;
}

.hcf-overlay>* {
  position: relative;
  z-index: 1;
}

.hcf-transform {
  transform: scale3d(1, 1, 1);
  transform-style: preserve-3d;
  transition: all 0.5s;
}