body,
html {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.header {
    position: relative;
}

.headerContent {
    position: absolute;
    top: 50%;
    left: 17%;
    transform: translate( -50%, -50%);
    color: white;
    display: block;
}

.headerContent h1 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 94px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.headerContent p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.div2 {
    padding: 0px 50px;
}

.div2 p {
    color: white;
}

.headerContent h1 {
    font-size: 4.2vw;
}

.headerContent p {
    font-size: 1.5vw;
}

.bgcontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.container1 {
    background-color: #1D232A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    height: 500px;
}

.container1 .img1, .img2 {
    width: 500px;
}

.container2 {
    background-color: #0E1317;
    background-image: url("/images/Group\ 130.png");
    height: 1200px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.container3 {
    background-color: #1D232A;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
}

.container3 .img3 {
    width: 875.41px;
    height: 851px;
    transform: rotate(103.47deg);
}

.container3 .img4 {
    width: 875.41px;
    height: 851px;
    transform: rotate(103.47deg);
}

.galaryContainer {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
}

.galaryContainer {
    z-index: 1;
}

.contentContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border: 1px solid white;
    width: 80%;
    margin: 0 auto;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 131.8%;
    text-align: justify;
    text-transform: capitalize;
    color: #FFFFFF;
}

.imageContainer {
    padding: 0px !important;
}

.imgs {
    width: 368px;
    height: 436px;
}

.contactContainer {
    margin-top: 20px;
    width: 100%;
    background-color: #0E1317;
    background-image: url("./images/Group\ 130.png");
    background-size: cover;
    position: relative;
}

.contactContainer div h2 {
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 43px;
    text-transform: capitalize;
}

.contactContainer div p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.045em;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.62);
}

.contactContent img {
    width: 5%;
    height: 100%;
}

.contactContent button {
    background-color: #FECC07;
    color: black;
    width: 157px;
    height: 42px;
    border-radius: 10px;
    border: none;
}

/* lightbox */

.column {
    margin: auto;
    width: 350px;
    margin-right: 0;
    margin-left: 0;
}

/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    overflow-y: hidden;
}


/* ------------------------------------------------------------------- */

@media only screen and (max-width: 1500px) {
    .container1 {
        height: 400px;
    }
    .container2 {
        height: 1500px;
    }
    .container3 {
        height: 300px;
    }
    .galaryContainer {
        top: 1%;
        transform: translate(0%, 0%);
        /* height: 7000px; */
    }
    .div2 {
        padding: 0px 50px 10px 50px;
    }
}

@media only screen and (max-width: 1400px) {
    .container1 {
        height: 400px;
    }
    .container2 {
        height: 1300px;
    }
    .container3 {
        height: 400px;
    }
    .galaryContainer {
        top: 1%;
        transform: translate(0%, 0%);
        /* height: 7000px; */
    }
    .contactContent {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1200px) {
    .container1 {
        height: 300px;
    }
    .container2 {
        height: 1100px;
    }
    .container3 {
        height: 350px;
    }
    .galaryContainer {
        top: 1%;
        transform: translate(0%, 0%);
        /* height: 7000px; */
    }
    .contactContent {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 1000px) {
    .container1 {
        height: 300px;
    }
    .container2 {
        height: 1900px;
    }
    .container3 {
        height: 400px;
    }
    .galaryContainer {
        top: 1%;
        transform: translate(0%, 0%);
    }
    .contactContent {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    .container1 {
        height: 600px;
    }
    .container2 {
        height: 1600px;
    }
    .container3 {
        height: 500px;
    }
    .galaryContainer {
        top: 1%;
        transform: translate(0%, 0%);
    }
    .contactContent {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 766px) {
    .container1 {
        height: 600px;
    }
    .container2 {
        height: 5400px;
    }
    .container3 {
        height: 550px;
    }
}

@media only screen and (max-width: 580px) {
    .container1 {
        height: 300px;
    }
    .container2 {
        height: 6200px;
    }
    .container3 {
        height: 600px;
    }
}
